@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.app{
  background-color: #d7caca;
}

.footer{
  width: 100%;
  height:10vh ;
  background-color: black;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.bg-bar{
  color:rgb(181, 6, 6);
  cursor: pointer;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.book-details{
  min-height: 8vh;
  height:300px ;
display: flex;
align-items: center;
justify-content: space-evenly;
padding: 10px;
}
img{
  width: 300px;
  height: 300px;
  transition: all 0.3 ease;
}
.book-desc{
  margin: 0px 10px;
  
}
.nav{
  cursor: pointer;
}
